@import './variables.scss';
@import './mixins.scss';

.delivery {
  position: relative;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  &__title {
    text-align: center;
    margin: 30px 0 40px;
    text-transform: uppercase;
    @include title-font;
    @media screen and (max-width: 768px) {
      @include title-font-mobile;
      background-color: $white;
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 1262px;
    background-image: url('../images/delivery-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 768px) {
      height: auto;
      background-image: none;
      background: linear-gradient(294.47deg, #FECF3D -11.2%, #6B9D52 56.44%);
    }
  }
  &__areas {
    padding-top: 39px;
    margin-left: 73px;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
  }
  &__subtitle {
    margin: 0;
    color: $white;
    text-transform: uppercase;
    @include popular-item-font;
    @media screen and (max-width: 768px) {
      text-align: center;
      @include advantage-font;
    }
  }
  &__categories {
    width: 870px;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  &__category {
    margin-top: 90px;
    position: relative;
    width: 190px;
    text-align: center;
    color: $white;
    @include button-font;
    &::before {
      content: '';
      position: absolute;
      top: -74px;
      left: calc(50% - 30px);
      background-color: $orange-dim;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    &:first-of-type::before {
      background-color: $yellow;
    }
    &:last-of-type::before {
      background-color: $pink;
    }
    @media screen and (max-width: 768px) {
      @include button-font;
    }
  }
  &__map-wrapper {
    margin-top: 24px;
    margin-left: 73px;
    @media screen and (max-width: 768px) {
      margin: 24px auto 42px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__map {
    @media screen and (max-width: 768px) {
      width: 300px;
      height: 400px;
      border-radius: 60px;
      object-fit: cover;
    }
  }
  &__payment {
    margin-top: 39px;
    margin-left: 73px;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }
  &__shipping {
    margin-top: 39px;
    margin-left: 73px;
    @media screen and (max-width: 768px) {
      margin: 39px auto 0;
    }
  }
  &__payment-options {
    margin-top: 24px;
    width: 872px;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    &_sm {
      width: 530px;
      @media screen and (max-width: 768px) {
        padding-bottom: 49px;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: 283px;
      margin: 0 auto;
    }
  }
  &__option {
    text-align: center;
    width: 252px;
    @media screen and (max-width: 768px) {
      margin-top: 24px;
    }
  }
  &__option-title {
    margin: 0;
    color: $white;
    text-transform: uppercase;
    @include volume-font;
  }
  &__option-description {
    margin: 0;
    margin-top: 5px;
    color: $white;
    @include button-font;
  }
}