@font-face {
  font-family: 'Bahnschrift';
  src: url('../fonts/Bahnschrift/Bahnschrift-Regular.ttf');
  src: local('Bahnschrift Regular'), local('Bahnschrift-Regular');
  font-weight: normal;
  font-style: normal;
}