@import './variables.scss';
@import './mixins.scss';

.hero {
  position: relative;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  &__slider {
  }
}

.slider {
  &__item {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}