@import './variables.scss';
@import './mixins.scss';

.hero {
  position: relative;
  max-width: 1920px;
  height: 775px;
  margin: 0 auto;
  box-sizing: border-box;
  &__slider {
    height: 100%;
  }
}

.slider {
  &__hero-item {
    width: 100%;
    height: 100%;
  }
}