@import './variables.scss';
@import './mixins.scss';

.information {
  position: relative;
  margin: 0 auto;
  margin-top: 54px;
  &__wrapper {
    max-width: 1774px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 52px;
    @media screen and (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    @include information-font;
    color: $black-hover;
    @media screen and (max-width: 768px) {
      text-align: center;
      @include information-font-mobile;
    }
  }
  &__columns {
    margin-top: 12px;
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.column {
  &__company {
    p {
      margin: 0;
      color: $black-hover;
      @include advantage-font;
      @media screen and (max-width: 768px) {
        @include card-subtitle-mobile;
        text-align: center;
      }
    }
  }
  &__list {
    margin-left: 256px;
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px 168px;
    @media screen and (max-width: 768px) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
  &__link {
    @media screen and (max-width: 768px) {
      text-align: center;
      margin-top: 12px;
    }
    a {
      margin: 0;
      text-decoration: none;
      color: $black-hover;
      @include advantage-font;
      @media screen and (max-width: 768px) {
        @include card-subtitle-mobile;
      }
    }
  }
}