@import './variables.scss';
@import './mixins.scss';

.loyalty {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  @media screen and (max-width: 768px) {
    margin-bottom: 52px;
  }
  &__title {
    text-align: center;
    margin: 12px 0 32px;
    text-transform: uppercase;
    @include title-font;
    @media screen and (max-width: 768px) {
      @include title-font-mobile;
    }
  }
  &__wrapper {
    margin: 0 auto;
    position: relative; 
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__card {
    position: relative;
    width: 521px;
    height: 808px;
    margin-top: 50px;
    margin-left: 247px;
    border-radius: 50px;
    background-color: $green-pine;
    box-shadow: 0px 20px 50px rgba(77, 75, 73, 0.2);
    @media screen and (max-width: 768px) {
      width: 300px;
      height: 465px;
      margin: 0 auto;
      margin-top: 53px;
    }
  }
  &__advantages {
    margin-top: 174px;
    margin-left: 204px;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }
}

.card {
  margin: 51px 49px 22px;
  display: flex;
  @media screen and (max-width: 768px) {
    margin: 25px 28px 16px;
  }
  &__title {
    width: 103px;
    margin: 0;
    margin-left: 16px;
    color: $white;
    text-transform: uppercase;
    @include title-card-font;
    @media screen and (max-width: 768px) {
      @include button-font;
    }
  }
  &__balance-wrapper {
    margin-left: auto;
    text-align: end;
    margin-top: 10px;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }
  &__balance-title {
    margin: 0;
    color: $white;
    text-transform: uppercase;
    @include button-font;
    @media screen and (max-width: 768px) {
      @include card-subtitle-mobile;
    }
  }
  &__balance-value {
    margin: 0;
    margin-top: 12px;
    color: $white;
    text-transform: uppercase;
    @include button-font;
    @media screen and (max-width: 768px) {
      margin: 0;
      @include card-subtitle-mobile;
    }
  }
  &__accent {
    width: 100%;
    height: 211px;
    box-sizing: border-box;
    background-image: url('../images/assortment.jpg');
    background-color: $white;
    @media screen and (max-width: 768px) {
      height: 121px;
      background-size: cover;
    }
  }
  &__owner {
    margin-top: 24px;
    margin-left: 49px;
    @media screen and (max-width: 768px) {
      margin-top: 13px;
      margin-left: 29px;
    }
  }
  &__owner-subtitle {
    margin: 0;
    color: $white;
    text-transform: uppercase;
    @include button-font;
    @media screen and (max-width: 768px) {
      @include card-subtitle-mobile;
    }
  }
  &__owner-value {
    margin: 0;
    margin-top: 15px;
    color: $white;
    @include button-font;
    @media screen and (max-width: 768px) {
      margin-top: 0;
      @include card-subtitle-mobile;
    }
  }
  &__barcode {
    width: 346px;
    height: 114px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 173px);
    @media screen and (max-width: 768px) {
      width: 200px;
      height: 66px;
      left: calc(50% - 100px);
    }
  }
  svg {
    @media screen and (max-width: 768px) {
      width: 42px;
      height: 44px;
    }
  }
}

.advantages {
  &__title {
    margin: 0;
    text-transform: uppercase;
    @include popular-item-font;
    @media screen and (max-width: 768px) {
      margin-top: 40px;
      text-align: center;
      @include item-font-mobile;
    }
  }
  &__list {
    margin-top: 57px;
    list-style: none;
    padding-left: 0;
    @media screen and (max-width: 768px) {
      margin-top: 36px;
    }
  }
  &__item {
    margin-top: 18px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__description {
    margin-left: 25px;
    @include advantage-font;
    @media screen and (max-width: 768px) {
      @include button-font;
      margin-left: 0;
      text-align: center;
    }
  }
  &__get-card {
    margin-top: 80px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      margin-top: 37px;
      flex-direction: column;
    }
  }
  &__offer {
    margin: 0;
    color: $black-hover;
    text-transform: uppercase;
    @include popular-item-font;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
  &__button {
    cursor: pointer;
    margin: 0;
    margin-left: 42px;
    padding: 14px 40px;
    color: $black-hover;
    text-transform: uppercase;
    @include button-font;
    background-color: $yellow;
    border: none;
    border-radius: 30px;
    &:hover {
      background-color: $black-hover;
      color: $white;
    }
    @media screen and (max-width: 768px) {
      margin-left: 0;
      margin-top: 27px;
    }
  }
}