@mixin button-font {
  font-family: 'Bahnschrift';
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

@mixin volume-font {
  font-family: 'Bahnschrift';
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

@mixin title-font {
  font-family: 'Bahnschrift';
  font-size: 80px;
  line-height: 96px;
  font-weight: 400;
}

@mixin item-font {
  font-family: 'Bahnschrift';
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
}

@mixin popular-item-font {
  font-family: 'Bahnschrift';
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

@mixin button-menu {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}