@import './variables.scss';
@import './mixins.scss';

.popup {
  position: relative;
  top: 236px;
  left: calc(50% - 357.5px);
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  box-sizing: border-box;
  &__top {
    min-height: 87px;
    width: 100%;
    background-color: $yellow;
    border-radius: 50px 50px 0px 0px;
  }
  &__title {
    margin: 0;
    margin-top: 28px;
    margin-left: 58px;
    text-transform: uppercase;
    color: $black-hover;
    @include volume-font;
  }
  &__close-btn {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 60px;
    background-color: transparent;
    border: none;
    width: 18px;
    height: 18px;
  }
  &__content {
    padding: 0px 56px 35px 58px;
    height: 368px;
    background-color: $white;
    border-radius: 0 0 50px 50px;
  }
  &__region-subtitle {
    margin: 0;
    margin-top: 33px;
    text-transform: uppercase;
    color: $black-hover;
    @include volume-font;
  }
  &__accept-btn {
    cursor: pointer;
    margin: 0;
    margin-top: 21px;
    padding: 6px 32.5px;
    text-transform: uppercase;
    color: $black-hover;
    background-color: $yellow;
    border: none;
    border-radius: 30px;
    @include button-font;
    &:hover {
      color: $white;
      background-color: $black-hover;
    }
  }
  &__region-list {
    list-style: none;
    padding-left: 0;
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(3, 170px);
    gap: 10px 50px;
  }
  &__region-item {
    cursor: pointer;
    margin: 0;
    color: $black-hover;
    @include button-font;
    &:hover {
      color: $yellow;
    }
  }
  &_lg {
    width: 715px;
    height: 455px;
  }
  &_md {
    width: 627px;
    height: 391px;
  }
  &__login-form {
    position: relative;
    width: 512px;
    height: auto;
    padding: 6px 58px 133px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 0 0 50px 50px;
  }
}

.popup-cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.76);
  z-index: 100;
  &_opened {
    display: block;
  }
}

.login-form {
  &__label {
    display: flex;
    margin-top: 27px;
  }
  &__subtitle {
    margin: 0;
    width: 180px;
    color: $black-hover;
    @include advantage-font;
  }
  &__input-wrapper {
    position: relative;
    &:after {
      position: absolute;
      bottom: -10px;
      left: 27px;
      content: url('../images/login-line.png');
    }
  }
  &__input {
    width: 300px;
    margin-left: 27px;
    border: none;
    outline: none;
    color: $black-hover;
    @include advantage-font;
  }
  &__submit-btn {
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 60px;
    width: 116px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: $yellow;
    color: $black-hover;
    text-transform: uppercase;
    @include button-font;
    &:hover {
      background-color: $black-hover;
      color: $white;
    }
  }
}