@import './variables.scss';
@import './mixins.scss';

.popup {
  position: relative;
  top: 236px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  box-sizing: border-box;
  &__top {
    min-height: 87px;
    width: 100%;
    background-color: $yellow;
    border-radius: 50px 50px 0px 0px;
  }
  &__title {
    margin: 0;
    margin-top: 28px;
    margin-left: 58px;
    text-transform: uppercase;
    color: $black-hover;
    @include volume-font;
  }
  &__close-btn {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 60px;
    background-color: transparent;
    border: none;
    width: 18px;
    height: 18px;
  }
  &__content {
    padding: 0px 56px 35px 58px;
    height: 368px;
    background-color: $white;
    border-radius: 0 0 50px 50px;
  }
  &__region-subtitle {
    margin: 0;
    margin-top: 33px;
    text-transform: uppercase;
    color: $black-hover;
    @include volume-font;
  }
  &__accept-btn {
    cursor: pointer;
    margin: 0;
    margin-top: 21px;
    padding: 6px 32.5px;
    text-transform: uppercase;
    color: $black-hover;
    background-color: $yellow;
    border: none;
    border-radius: 30px;
    @include button-font;
    &:hover {
      color: $white;
      background-color: $black-hover;
    }
  }
  &__region-list {
    list-style: none;
    padding-left: 0;
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(3, 170px);
    gap: 10px 50px;
  }
  &__region-item {
    cursor: pointer;
    margin: 0;
    color: $black-hover;
    @include button-font;
    &:hover {
      color: $yellow;
    }
  }
  &_lg {
    width: 715px;
    height: 455px;
    left: calc(50% - 357.5px);
  }
  &_md {
    width: 627px;
    height: 391px;
    left: calc(50% - 313.5px);
  }
  &_sm {
    width: 521px;
    height: 703px;
    top: 40px;
    left: calc(100% - 596px);
  }
  &__login-form {
    position: relative;
    width: 512px;
    height: auto;
    padding: 6px 58px 133px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 0 0 50px 50px;
  }
  &_basket {
    background-color: $white;
  }
  &__total {
    margin-top: auto;
    padding: 23px 89px 23px 28px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background-color: $yellow;
    text-transform: uppercase;
    @include volume-font;
  }
}

.popup-cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.76);
  z-index: 100;
  &_opened {
    display: block;
  }
}

.login-form {
  &__label {
    display: flex;
    margin-top: 27px;
  }
  &__subtitle {
    margin: 0;
    width: 180px;
    color: $black-hover;
    @include advantage-font;
  }
  &__input-wrapper {
    position: relative;
    &:after {
      position: absolute;
      bottom: -10px;
      left: 27px;
      content: url('../images/login-line.png');
    }
  }
  &__input {
    width: 300px;
    margin-left: 27px;
    border: none;
    outline: none;
    color: $black-hover;
    @include advantage-font;
  }
  &__submit-btn {
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 60px;
    width: 116px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: $yellow;
    color: $black-hover;
    text-transform: uppercase;
    @include button-font;
    &:hover {
      background-color: $black-hover;
      color: $white;
    }
  }
}

.popup-basket {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 29px;
    overflow-y: scroll;
    margin: 0;
    margin-top: 33px;
    margin-right: 36px;
    &::-webkit-scrollbar {
      width: 24px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 24px;
      background-color: $grey-light;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 24px;
      background-color: $yellow;
    }
  }
  &__item {
    position: relative;
    min-height: 211px;
    margin-top: 32px;
    display: flex;
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__image {
    width: 150px;
    height: auto;
    object-fit: contain;
  }
  &__title {
    width: 160px;
    margin: 0;
    color: $black-hover;
    text-transform: uppercase;
    @include volume-font;
  }
  &__value {
    margin: 0;
    margin-top: 11px;
    color: $black-hover;
    @include button-font;
  }
  &__ingredients {
    margin: 0;
    margin-top: 14px;
    width: 180px;
    color: $grey-dark;
    @include addition-font;
  }
  &__counter {
    width: 93px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 16px;
    color: $black-hover;
    background-color: $yellow;
    border-radius: 30px;
    @include button-font;
  }
  &__total {
    margin: 0 10px;
  }
  &__button {
    height: 100%;
    cursor: pointer;
    border: none;
    color: $black-hover;
    background-color: transparent;
    font-size: 20px;
    &_minus {
      margin-bottom: 3px;
    }
  }
  &__total-price {
    position: absolute;
    bottom: 50px;
    right: 0;
    color: $black-hover;
    text-transform: uppercase;
    @include volume-font;
  }
  &__delete-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 23px;
    border: none;
    background-color: transparent;
    &:hover svg path {
      fill: $yellow;
    }
  }
  &__close-btn {
    cursor: pointer;
    position: absolute;
    top: -28px;
    right: -28px;
    object-fit: cover;
    border: none;
    background-color: transparent;
    svg {
      width: 36px;
      height: 36px;
    }
  }
}

.total {
  &__sum {
    margin: 0;
  }
}