@import './variables.scss';
@import './mixins.scss';

.production {
  position: relative;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  &__title {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 34px;
    margin: 0;
    text-transform: uppercase;
    @include title-font;
    @media screen and (max-width: 768px) {
      @include title-font-mobile;
    }
  }
  &__offer {
    position: relative;
    width: 100%;
    height: 718px;
    background-image: url('../images/production.jpg');
    background-color: $green-pine;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    @media screen and (max-width: 768px) {
      height: 853px;
      background-image: none;
    }
  }
}

.offer {
  &__items {
    position: absolute;
    top: 54px;
    right: 58px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 210px);
    gap: 42px 10px;
    @media screen and (max-width: 768px) {
      top: 23px;
      right: 14px;
      grid-template-columns: repeat(2, 140px);
      gap: 10px;
    }
  }
  &__item  {
    display: flex;
    box-sizing: border-box;
    &:hover .offer__link {
      color: $black-hover;
    }
  }
  &__link {
    cursor: pointer;
    margin: 0;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    @include item-font;
    p {
      margin: 0;
      margin-top: 7px;
      @media screen and (max-width: 768px) {
        margin-top: 2px;
      }
    }
    @media screen and (max-width: 768px) {
      width: 140px;
      @include item-font-mobile;
    }
  }
  &__image {
    width: 210px;
    height: 210px;
    box-sizing: border-box;
    border-radius: 50%;
    @media screen and (max-width: 768px) {
      width: 140px;
      height: 140px;
    }
  }
}