$white: #FFFFFF;
$black: #000000;
$grey: #D9DADA;
$grey-hover: #CBCBCB;

$orange: #EF7F1A;
$orange-dim: #F29114;
$yellow: #FECF3D;
$pink: #F08AA8;
$pink-dark: #E5097F;
$lilac: #AE4A84;
$green: #009846;
$green-grass: #7BB933;