$white: #FFFFFF;
$black: #000000;
$black-hover: #2B2A29;
$grey: #D9DADA;
$grey-light: #F1F1F1;
$grey-hover: #CBCBCB;
$grey-dark: #797272;

$orange: #EF7F1A;
$orange-dim: #F29114;
$yellow: #FECF3D;
$pink: #F08AA8;
$pink-dark: #E5097F;
$lilac: #AE4A84;
$green: #009846;
$green-pine: #6B9D52;
$green-grass: #7BB933;